<nav class="navbar">  
    <ul class="navbar-menu">
      <li><a href="#"><i class="fa-sharp-duotone fa-regular fa-dollar-sign"></i> Ventas</a></li>
      <li><a href="#"><i class="fa-sharp-duotone fa-solid fa-cart-shopping"></i> Compras</a></li>
      <li><a href="#"><i class="fa-sharp-duotone fa-solid fa-box-open"></i> Inventario</a></li>
      <li><a href="#"><i class="fa-sharp-duotone fa-solid fa-table"></i> Nómina</a></li>
      <li><a href="#"><i class="fa-sharp-duotone fa-solid fa-calculator"></i> Contabilidad</a></li>
      <li><a href="#"><i class="fa-sharp-duotone fa-solid fa-people-roof"></i> Gestión</a></li>
      <li><a href="#"><i class="fa-sharp-duotone fa-solid fa-gear"></i> Configuración</a></li>
    </ul>
  
    <!-- Espacio flexible -->
    <div class="navbar-spacer"></div>
  
    <!-- Usuario -->
    <div class="navbar-user">
      <div class="user-icon">
        <img class="user-img" src="assets/img/yo.png" alt="imagen" />
      </div>
      <div class="user-info">
        <div>
          <strong>Nombre:</strong> Daniel Vega
          <strong>Rol:</strong> Administrador
        </div>
      </div>
    </div>
  </nav>