.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  flex: 1;
  padding: 16px;
  overflow: auto;
}
